/* custom stuff */
.error {
	font-size: 12px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #ac0202;
}
.sitetitle {
	font-size: 22px;
	font-weight: 800;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #990041;
	text-indent: 10px;
	font-variant:small-caps;
}

.searchbox {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	width: 147px;
}

.leftnav {
	padding-top: 8px;
	padding-left: 8px;
	padding-bottom: 8px;
	padding-right: 14px;
	text-align: left;
}

.centernav {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 14px;
	text-align: left;
	
}

.rightnav {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 4px;
	text-align: left;
}

.navcontent {
	padding: 1px;
	background-color: #859ba0;
}

.navtitle_main {
	font-size: 9pt;
	font-weight: bold;
	color: #bf2868;
}

.navbg_main {
	background-color: #FFFFFF;
	padding:4px
}

.navbg_user {
	background-color: #edf1f1;
	padding:4px
}

/* required stuff */

table.moduletable {
	width: 100%;
	margin: 0px 0px 0px 0px;
	border-left: solid 0px #000000;
	border-right: solid 0px #000000;
	border-top: solid 0px #000000;
	border-bottom: solid 0px #000000;
	}

table.moduletable th {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #68878A;
	text-align: left;
	text-indent: 2px;
	width: 100%;
	height: 18px;
	border-bottom: 2px solid #990041;
}

table.moduletable td {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
}

/* Body */
BODY {
	margin: 0px 0px 0px 0px;
	background-color : #FFFFFF ;
	color : #3C4B4D;
	scrollbar-dlight-color: #d0d9db;
	scrollbar-base-color: #D6E5AA;
	scrollbar-darkshadow-color: #becbcd;
	scrollbar-face-color: #eaecee;
	scrollbar-highlight-color: #becbcd;
	scrollbar-shadow-color: #89A2A5;
	scrollbar-track-color: #becbcd;
	scrollbar-arrow-color: #89A2A5;
	}

td,tr,p,div {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3C4B4D;
	}

/* Styles for dhtml tabbed-pages */
.ontab {
	background-color: #ffffff;
	border-left: outset 1px #BECBCD;
	border-right: outset 1px #BECBCD;
	border-top: outset 1px #BECBCD;
	border-bottom: solid 1px #ffffff;
	text-align: center;
	cursor: pointer;
	font-weight: normal;
	color: #495C5F;
}
.offtab {
	background-color : #EAECEE;
	border-left: outset 1px #E0E0E0;
	border-right: outset 1px #E0E0E0;
	border-top: outset 1px #E0E0E0;
	border-bottom: solid 1px #BECBCD;
	text-align: center;
	cursor: pointer;
	font-weight: normal;
	color: #769196;
}
.tabpadding {
}

.tabheading {
	background-color: #EAECEE;
	text-align: left;
}

.pagetext {
	visibility: hidden;
	display: none;
	position: relative;
	top: 0;
}
h4 {
	color: #495C5F; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px; font-weight: bold;
	}

h5 {
	color: #617A7D; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px; font-weight: bold;
	}

h6 {
	color: #6C888C; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; font-weight: bold;
	}

/* Links */
a:link, a:visited {
	font-size: 11px; color: #990041; text-decoration: none;
	font-family:  Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	}

a:hover {
	color: #bf2868;	
	text-decoration: none;
	font-weight: bold;
	}

/* Horizontal Line */
hr {
	background: #495C5F; height:2px; border: 1px inset;
	}

hr.separator {
	background: #495C5F;
	height: 1px;
	width: 75px;
	border: 0px;
}

/* --Default Class Settings-- */

.frontpageheader {
	color: #4E6366;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	height: 30px;
}

a.mainlevel:link, a.mainlevel:visited {
	color: #4D6165;
	background-position: left;
	text-align: right;
 }

a.mainlevel:hover {
	color: #bf2868;
	background-position: left;
	text-align: left;
	}
	
a.mainmenu:link, a.mainmenu:visited {
	color: #4D6165; font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, serif;
	font-weight: normal;
	}

a.mainmenu:hover {
	color: #bf2868; 
        text-decoration: underline;
	}

a.sublevel:link, a.sublevel:visited {
	color: #4D6165; font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, serif;
	font-weight: normal;
}
	
a.sublevel:hover {
	color: #bf2868; text-decoration: underline;
	}


/* For content item titles that are hyperlink instead of Read On */
a.contentpagetitle:link, a.contentpagetitle:visited {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
 	color: #68878A;
	text-align:left;
	}

a.contentpagetitle:hover {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align:left;
	color: #86A1A4;
	text-decoration: underline;
	font-weight: bold;
	}

/* Content - Sections & Categories */
.contentpane {
	background-color : #00ffff;
	}

.contentpaneopen {
	width: 100%;
	}
.newscontainer {
	border: 1px solid #859ba0;
	background: #EDF1F1;
	padding: 4px;
	}
.contentheading {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #68878A;
	text-align: left;
	text-indent: 2px;
	width: 100%;
	height: 18px;
	border-bottom: 2px solid #990041;
	height: 18px;
	}

.contentpagetitle {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
 	color: #68878A;
	text-align:left;
	}

table.contenttoc {
	color: #333300;
	background-color: #e0e0e0;
    }

table.contenttoc td {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    text-align:left;
}

.contentdescription {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #68878A;
	text-align: left;
	padding-top: 8px;
	}

/* Links */
a.blogsection:link, a.blogsection:visited {
	color: #990041; text-decoration: none; font-weight: normal;
	font-family:  Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	}

a.blogsection:hover {
	color: #bf2868;	text-decoration: none;
	font-weight: normal;
	font-size: 11px;
	}

a.weblinks:link, a.weblinks:visited {
	color: #ffcc00; text-decoration: none; font-weight: normal;
	font-family:  Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	}

a.weblinks:hover {
	color: #bf2868;	text-decoration: underline;
	}

a.readon:link, a.readon:visited {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #68878A;
	text-align: right;
	text-indent: 2px;
	width: 100%;
	height: 18px;
	border-bottom: 2px solid #E5E6E7;
	}

a.readon:hover {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #bf2868;
	text-align: right;
	text-indent: 2px;
	width: 100%;
	height: 18px;
	border-bottom: 2px solid #E5E6E7;
	}

.componentheading {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #68878A;
	text-align: left;
	text-indent: 2px;
	width: 100%;
	height: 18px;
	border-bottom: 2px solid #bf2868;
	height: 18px;
	}

.button {
	color: #3C4B4D; font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, serif;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	background: #D0D9DB;
	border: 1px solid #859ba0;
	height: 20px;
	}

.inputbox {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #3C4B4D;
	background: #F3F4F5;
	border: 1px solid #859ba0;
	}

/** category text format and links **/
.category {
	color: #86A92E; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; font-weight: bold; text-decoration: none;
	}

a.category:link, a.category:visited {
	color: #405115; font-weight: bold;
	}

a.category:hover {
	color: #759328;
	}

.poll {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px
	}
	
.pollstableborder {
		border: 0px solid;
		padding: 0px;
	}

.sectiontableentry1 {
	background-color : #edf1f1;
	padding-top: 1px;
	padding-bottom: 1px;
	}
	
.sectiontableentry2 {
	background-color : #DDE5E5;
	padding-top: 1px;
	padding-bottom: 1px;
	}

.contentpane {
	background-color : #FFFFFF;
	}
	
.sectiontableheader {
	background-color : #BECBCD;
	color : #3C4B4D;
	font-weight : bold;
	}

.small {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4E6366;
	text-decoration: none;
	font-weight: normal;
	height: 15px;
	}

.smalldark {
        font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: #333333;
        text-decoration: none;
        font-weight: normal;
        }


.newsfeedheading {
        font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        color: #333333;
        text-align:left;
        }

.newsfeeddate {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #859DA1;
	font-weight: normal;
}

.createdate {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #859DA1;
	text-decoration: none;
	font-weight: normal;
	height: 25px;
	}

.modifydate {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #859DA1;
	text-decoration: none;
	font-weight: normal;
	padding-top: 10px;
	text-align: right;
	}

ul {
	margin: 0px 0px 0px 0px;
	}
/*
li {
	list-style: inside url(../../../images/M_images/arrowp.png);
	list-style-image: url(../../../images/M_images/arrowp.png);
	}
*/
.fase4rdf {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; color: #242D0C; font-weight: normal;
	}

a.fase4rdf:link {
	font-size: 11px; font-weight: normal; color: #405115;
	}

a.fase4rdf:hover {
	font-weight: bold; color: #759328;
	}

table.searchintro {
  	background-color: #FFFFFF;
	border: 1px solid #E6ECEC;
	}

table.contact {
	background-color: #F3F4F5;
	}

table.contact td.icons {
	background-color: #D0D9DB;
	}

table.contact td.details {
	background-color: #E6ECEC;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}

.pagenav {
	font-weight: normal;
}

a.pagenav, a.pagenav:visited {
	font-weight: bold;
	color: #779595;
}

a.pagenav:hover {
	color: #4F6565;
}

.pagenavbar {
	
}

/* Content voting */
.content_rating {
	font-weight: normal;
	font-size: 8pt;
}

.content_vote {
	font-weight: normal;
	font-size: 8pt;
}
tr.header {
        background: url("/egroupware/sitemgr/sitemgr-site/templates/rhuk_orange_smoothie/images/generic_header.jpg");
        background-image: url("/egroupware/sitemgr/sitemgr-site/templates/rhuk_orange_smoothie/images/generic_header.jpg");
        }
img.logo {
        border: 2px solid #990041;
}
div#OnlinersList
{
margin: 0px 20px 0px 20px;
display: none;
}

iframe.milanintv
{
text-align:center;
border:0;
}
a.newsTitle:link, a.newsTitle:visited {
	color: #4D6165;
	background-position: left;
	text-align: right;
 }

a.newsTitle:hover {
	color: #bf2868;
	background-position: left;
	text-align: left;
}
.clubincall_td{
  height:34px;
  background-repeat: no-repeat;
  background-position: center left;
  padding:4px 4px 4px 34px;
  border: 1px solid;
}
.clubincall_wrapper{
  position:relative;
  height:34px;
  background-repeat: no-repeat;
  text-align: left;
}
.clubincall_dropdown {
  background-color: #fff;
  border: 1px solid; 
  position: absolute;
  width:300px;
  height:104px;
  margin-top: 20px;
  margin-left: -240px;
/*   margin-right: -140px; */
  padding:4px 4px 24px 14px;
  background-repeat: no-repeat;
  text-align: left;
  display: block;
  left: 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95); /* IE */
  FILTER:Alpha(Opacity=95); /* IE */
  -moz-opacity:0.95; /* FireFox */
  opacity: 0.95;
}
.clubincall_dropdown_button {
 width: 16px;
 height: 16px;
 margin-left: 8px;
 font-size: 8pt;
 background-repeat: no-repeat;
 background-position: center center;
 border: 1px solid;
 vertical-align: top;
 color: #990041;
 margin-top:2px;
}
#caller_input_label {
 color: #000;
}
.clubincall_dropdown_input{
 left:0;
 width: 180px;
 margin-bottom: 10px;
 margin-left: 10px;
 border: 1px solid #990041;
 background-color: #F3F4F5;
 font-size: 10pt;
 padding-left:2px;
}
.clubincall_dropdown_select{
 display: block;
 left:0;
 width: 100%;
 margin-bottom: 10px;
 margin-top: 10px;
 border: 1px solid #990041;
 background-color: #F3F4F5;
 font-size: 10pt;
}
/*.cancel_button {
 background-image: url(clubincall-r.png)
}
.call_button {
 background-image: url(clubincall-g.png)
}*/
.label_button{
 width: 40px;
 margin-left: 0px;
}

div#clubincall_dropdown label {
 margin-bottom: 10px;
 top: 2px;
 padding: 1px;
 vertical-align: top;
 border: 1px solid #990041;
 background-color: #F3F4F5;
 font-size: 10pt;
}
.dstnumberspan {
 margin-bottom: 10px;
}

.settings_link {
  display:block;
  width:100%;
  text-align:right;
  background-color: #F3F4F5;
  border-bottom: 1px solid #000;
  padding-bottom:4px;
}
.control_panel {
  position: absolute;
  height: 90%;
  z-index: 2000;
  top: 2%;
  left: 5%;
  width: 90%;
  border: 3px solid;
  background-color: #fff;
  border-color:#990041;
  float: right;
  overflow: hidden;
}
#dsts_wrapper,#numbers_wrapper,#test_wrapper,#help_wrapper{
 overflow-y: scroll;
 overflow: scroll;
 overflow-x:hidden;
 height:95%;
 width:100%;
 margin-top:32px;
 top:0;
 left:0;
 position: absolute;
}
#dsts_wrapper{
  display: none;
}
#numbers_wrapper{

}
.background_div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index:1000; 
  
  FILTER:Alpha(Opacity=80); /* IE */
  -moz-opacity:0.80; /* FireFox */
  background-repeat:repeat;
}
.dst_row {
 display: block;
 margin: 10px;
 margin-bottom:18px;
 top: 2px;
 padding: 10px;
 vertical-align: top;
 border: 1px solid #990041;
 background-color: #F3F4F5;
 font-size: 10pt;
 text-align: center;
 left: 50%;
}
.dst_row_label, .number_use {
 display: block;
/*  margin-top: -20px; */
 margin-bottom:8px;
 padding: 2px;
 vertical-align: top;
 font-size: 10pt;
 border:  1px solid #000;
 background-color: #fff;
 width:50%;
 display: none;
}
.control_panel_titlebar {
 z-index: 31000;
 padding: 4px;
 margin-bottom:18px;
 text-align: right;
 background-color: #F3F4F5;
 border-bottom: 1px solid #990041;
 position:relative;
}

.close_img {
 border:0;
}

#dsts_wrapper legend {
  color: #000;
}
#dsts_wrapper fieldset select {
  margin: 2px;
  border: 1px solid #990041;
  background-color: #fff;
  font-size: 10pt;
}
.number_save_button,
.number_add_button,
.number_remove_button,
.dst_save_button,
.dst_add_button,
.add_button,
.dst_remove_button
 {
 display:inline;
 vertical-align: top;
 width:80px;
 height: 21px;
 margin: 2px;
 font-size: 8pt;
 border: 1px solid #990041;
 color: #000;
 background-color:#CFD0D1;
}

.number_row {
 display: block;
 margin: 10px;
 margin-bottom:18px;
 top: 2px;
 padding: 10px;
 vertical-align: top;
 border: 1px solid #990041;
 background-color: #F3F4F5;
 font-size: 10pt;
 text-align: center;
}

#dsts_wrapper fieldset, #numbers_wrapper fieldset {
 display: inline;
 vertical-align:top;
 padding:5px;
 margin:2px;
 border-style: groove;
 background-color: #F3F4F5;
}


.number_input,
.number_desc_input
 {
 display:inline;
 padding:2px;
 vertical-align: top;
 margin: 2px;
 font-size: 8pt;
 border: 1px solid #990041;
 color: #000;
 margin: 2px;
 border: 1px solid #990041;
 background-color: #fff;
}

.loading_indicator {
 position: fixed;
 left:0;
 top:0;
 background-color: #fff;
 width: 150px;
 height: 40px;
 display:none;
 z-index: 10000;
}

.loading_indicator_centered {
  position: absolute;
  z-index: 100000;
  top: 10%;
  left: 10%;
  width: 100%;
  height: 100%;
/*   border: 3px solid; */
/*   background-color: #fff; */
/*   border-color:#990041; */
  display: none;
  text-align: center;
}
.loading_indicator_img {
 margin-left: 57px;
 margin-top:20px;
 display: block;
}
.loading_indicator_text {
 vertical-align: middle;
 font-size: 8pt;
 padding: 2px;
 padding-top:20px;
 height: 100px;
 width: 150px;
 background-color: #fff;
 border: 1px solid #990041;
 left: 50%;
 margin-left: -75px;
 top: 30%;
 position: fixed;
}
.settings_menu {
 display: inline;
 width: 100%;
 text-align: left;
}
.settings_menu li {
  display: inline;
  padding:5px;
}
.settings_menu_li{

}
.settings_menu_li_active {
  background-color: #fff;
  border-left: 1px solid #990041;
  border-right: 1px solid #990041;
}
.settings_wrapper, #settings_wrapper{
/*   border-bottom: 1px solid #000; */
}
.add_button{
  display: block;
  position: relative;
  vertical-align: bottom;
/*   top: 83%; */
  margin-left: auto;
  margin-right: auto;
  z-index: 30000;
}
.toolbar_add {
/*   height:10%; */
  width:100%;
  padding:15px;
}
.adding_new_label {
  padding-bottom:20px;
  color: #990041;
  font-weight: bold;
}