Gentile Collega,
abbiamo ricevuto la tua richiesta di iscrizione al Business Club Milan IN.
Nel giro di qualche giorno riceverai da Pier Carlo Pozzati (presidente del Club) la richiesta di collegamento LinkedIn: 
ti preghiamo di accettarla, dal momento che questa una condizione essenziale per completare la tua iscrizione.
Una volta accettata questa richiesta ti verr inviata una welcome letter contenete le istruzioni per il sito, username e password per accedere.
Nel caso invece questa richiesta fosse stata inviata per errore ti preghiamo di segnalarlo a silvia.lenich@milanin.com.
Grazie per il tuo interesse per il nostro Club e a presto!
Silvia Lenich\nSegreteria Business Club Milan IN