<!-- BEGIN REGISTER_COMPLETE -->
{REGISTER_COMPLETE.JoinUsSuccess}
<!-- END REGISTER_COMPLETE -->

<!-- BEGIN FORM_ERROR -->
	<p><font color="#ff0000">{FORM_ERROR.Message}</font></p>
<!-- END FORM_ERROR -->

<!-- BEGIN UNIQUE_ERROR -->
	<p><font color="#ff0000">{UNIQUE_ERROR.Message}</font></p>
<!-- END UNIQUE_ERROR -->

<!-- BEGIN FORM -->
<script>
function ChangeDonate(chk)
{
	var isVisible = (chk.value == 1);
	document.getElementById("donateBlock").style.display = isVisible ? 'block' : 'none';
}
function ChangeLinkedUrl(obj)
{
	document.getElementById('linkedin_url').href="https://www.linkedin.com/profile?viewProfile=&key="+obj.value
}
</script>
<p><font color="red">*</font> - {FORM.requiredfields}</p>
<form name="joinus" method="post" action="">
<table border="0">
	<tr>
		<td>UID<font color="red">:</font> </td>
		<td>{FORM.account_lid_VALUE}</td>
	</tr>
	
	<tr>
		<td>{FORM.Name}<font color="red">*</font> </td>
		<td><input type="text" name="name" value="{FORM.name_VALUE}"></td>
	</tr>
	<!-- BEGIN name_ErrReq -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.name_ErrReq.Message}</td>
	</tr>
	<!-- END name_ErrReq -->
	<!-- BEGIN name_ErrRule -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.name_ErrRule.Message}</td>
	</tr>
	<!-- END name_ErrRule -->
	
	<tr>
		<td>{FORM.LastName}<font color="red">*</font></td>
		<td><input type="text" name="surname" value="{FORM.surname_VALUE}"></td>
    </tr>
	<!-- BEGIN surname_ErrReq -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.surname_ErrReq.Message}</td>
	</tr>
	<!-- END surname_ErrReq -->
	<!-- BEGIN surname_ErrRule -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.name_ErrRule.Message}</td>
	</tr>
	<!-- END surname_ErrRule -->
	
	<tr>
		<td>{FORM.ProfessionalProfile}<font color="red">*</font></td>
		<td>
		<select name="prof_profile" {FORM.prof_profile_DISABLED}>
			<option value="-1"></option>
			<!-- BEGIN prof_profile -->
			<option value="{FORM.prof_profile.VALUE}" {FORM.prof_profile.CHECKED}>{FORM.prof_profile.TEXT}</option>
			<!-- END prof_profile -->
		</select>
		</td>
    </tr>
	<!-- BEGIN prof_profile_ErrReq -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.prof_profile_ErrReq.Message}</td>
	</tr>
	<!-- END prof_profile_ErrReq -->
	
	<tr>
		<td><a href="https://www.linkedin.com/profile?viewProfile=&amp;key={FORM.linkedin_VALUE}" id="linkedin_url" name="linkedin_url">{FORM.LinkedinProfile}</a></td>
		<td>
			<input type="text" name="linkedin" value="{FORM.linkedin_VALUE}" size="10" onkeyup="ChangeLinkedUrl(this)"><br />
			{FORM.LinkedinRule}<br />
			https://www.linkedin.com/profile?viewProfile=&amp;key=XXXXXX 
		</td>
	</tr>
	<!-- BEGIN linkedin_ErrReq -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.linkedin_ErrReq.Message}</td>
	</tr>
	<!-- END linkedin_ErrReq -->
	<!-- BEGIN linkedin_ErrRule -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.linkedin_ErrRule.Message}</td>
	</tr>
	<!-- END linkedin_ErrRule -->
	
	
	<tr>
	    <td>{FORM.phonenumber}</td>
	    <td><input type="text" name="phone" value="{FORM.phone_VALUE}"></td>
	</tr>

	<tr>
        <td>{FORM.email}<font color="red">*</font></td>
        <td><input type="text" name="email" value="{FORM.email_VALUE}"></td>
    </tr>
	<!-- BEGIN email_ErrReq -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.email_ErrReq.Message}</td>
	</tr>
	<!-- END email_ErrReq -->
	<!-- BEGIN email_ErrRule -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.email_ErrRule.Message}</td>
	</tr>
	<!-- END email_ErrRule -->

	<tr>
		<td>{FORM.requestingReason}<font color="red">*</font></td>
		<td><textarea name="requestReason" rows="10">{FORM.requestReason_VALUE}</textarea></td>
	</tr>
	<!-- BEGIN msg_ErrReq -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.msg_ErrReq.Message}</td>
	</tr>
	<!-- END msg_ErrReq -->

	<tr>
		<td>{FORM.howknow}<font color="red">*</font></td>
		<td>
		<select name="how_did_u" {FORM.how_did_u_DISABLED}>
			<option value="-1"></option>
			<!-- BEGIN how_did_u -->
			<option value="{FORM.how_did_u.VALUE}" {FORM.how_did_u.CHECKED}>{FORM.how_did_u.TEXT}</option>
			<!-- END how_did_u -->
		</select>
		</td>
	</tr>
	<!-- BEGIN how_did_u_ErrReq -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.how_did_u_ErrReq.Message}</td>
	</tr>
	<!-- END how_did_u_ErrReq -->
	<tr>
		<th colspan="2">{FORM.personaldata}</th>
	</tr>
	
	<tr>
		<td>{FORM.sex}<font color="red">*</font></td>
		<td>
		<select name="sex" {FORM.sex_DISABLED}>
			<option value="-1"></option>
			<!-- BEGIN sex -->
			<option value="{FORM.sex.VALUE}" {FORM.sex.CHECKED}>{FORM.sex.TEXT}</option>
			<!-- END sex -->
		</select>
		</td>
 	</tr>
	<!-- BEGIN sex_ErrReq -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.sex_ErrReq.Message}</td>
	</tr>
	<!-- END sex_ErrReq -->

	<tr>
		<td>{FORM.MainLanguage}<font color="red">*</font></td>
		<td>
		<select name="languages" {FORM.languages_DISABLED}>
			<option value="-1"></option>
			<!-- BEGIN languages -->
			<option value="{FORM.languages.VALUE}" {FORM.languages.CHECKED}>{FORM.languages.TEXT}</option>
			<!-- END languages -->
		</select>
		</td>
 	</tr>
	<!-- BEGIN languages_ErrReq -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.languages_ErrReq.Message}</td>
	</tr>
	<!-- END languages_ErrReq -->
	
	<tr>
		<td>{FORM.birthdate}</td>
		<td>
			<input size="2" maxlength="2" type="text" name="birth_d" value="{FORM.birth_d_VALUE}" />
			<input size="2" maxlength="2" type="text" name="birth_m" value="{FORM.birth_m_VALUE}" />
			<input size="4" maxlength="4" type="text" name="birth_y" value="{FORM.birth_y_VALUE}" />
		</td>
	</tr>
	<!-- BEGIN birth_d_ErrRule -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.birth_d_ErrRule.Message}</td>
	</tr>
	<!-- END birth_d_ErrRule -->
	
	<tr>
		<td>{FORM.countryresidence}<font color="red">*</font></td>
		<td>
		<select name="residence_country" {FORM.residence_country_DISABLED}>
			<option value="-1"></option>
			<!-- BEGIN residence_country -->
			<option value="{FORM.residence_country.VALUE}" {FORM.residence_country.CHECKED}>{FORM.residence_country.TEXT}</option>
			<!-- END residence_country -->
		</select>
		</td>
	</tr>
	<!-- BEGIN residence_country_ErrReq -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.residence_country_ErrReq.Message}</td>
	</tr>
	<!-- END residence_country_ErrReq -->

	<tr>
		<td>{FORM.cityresidence}</td>
		<td><input type="text" name="residence_city" value="{FORM.residence_city_VALUE}"></td>
	</tr>
	
	<tr>
		<td>{FORM.academicdegree}<font color="red">*</font></td>
		<td>
		<select name="ac_degree" {FORM.ac_degree_DISABLED}>
			<option value="-1"></option>
			<!-- BEGIN ac_degree -->
			<option value="{FORM.ac_degree.VALUE}" {FORM.ac_degree.CHECKED}>{FORM.ac_degree.TEXT}</option>
			<!-- END ac_degree -->
		</select>
		</td>
	</tr>
	<!-- BEGIN ac_degree_ErrReq -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.ac_degree_ErrReq.Message}</td>
	</tr>
	<!-- END ac_degree_ErrReq -->
	
	<tr>
		<td>{FORM.favoritesport}</td>
		<td>
		<select name="favorite_sport" {FORM.favorite_sport_DISABLED}>
			<option value=""></option>
			<!-- BEGIN favorite_sport -->
			<option value="{FORM.favorite_sport.VALUE}" {FORM.favorite_sport.CHECKED}>{FORM.favorite_sport.TEXT}</option>
			<!-- END favorite_sport -->
		</select>
		</td>
	</tr>
	<!-- BEGIN favorite_sport_ErrReq -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.favorite_sport_ErrReq.Message}</td>
	</tr>
	<!-- END favorite_sport_ErrReq -->
	
	
	
	<tr>
		<th colspan="2">{FORM.professionaldata}</th>
	</tr>
	<tr>
		<td colspan="2" class="checkBoxSplitter">&nbsp;</td>
	</tr>
	<tr>
		<td>{FORM.industry}<font color="red">*</font></td>
		<td>
			<!-- BEGIN industries -->
			{FORM.industries.Before}<input type="Checkbox" name="industries[]" value="{FORM.industries.VALUE}" {FORM.industries.CHECKED}> {FORM.industries.TEXT}{FORM.industries.After}
			<!-- END industries -->
		</td>
	</tr>
	<!-- BEGIN industries_ErrReq -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.industries_ErrReq.Message}</td>
	</tr>
	<!-- END industries_ErrReq -->
	<tr>
		<td colspan="2" class="checkBoxSplitter">&nbsp;</td>
	</tr>
	
	
	<tr>
		<td>{FORM.profession}<font color="red">*</font></td>
		<td>
			<!-- BEGIN professions -->
			{FORM.professions.Before}<input type="Checkbox" name="professions[]" value="{FORM.professions.VALUE}" {FORM.professions.CHECKED}> {FORM.professions.TEXT}{FORM.professions.After}
			<!-- END professions -->
		</td>
	</tr>
	<!-- BEGIN professions_ErrReq -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.professions_ErrReq.Message}</td>
	</tr>
	<!-- END professions_ErrReq -->
	<tr>
		<td colspan="2" class="checkBoxSplitter">&nbsp;</td>
	</tr>
	
	<tr>
		<td>{FORM.occ_area}<font color="red">*</font></td>
		<td>
			<!-- BEGIN occ_areas -->
			{FORM.occ_areas.Before}<input type="Checkbox" name="occ_areas[]" value="{FORM.occ_areas.VALUE}" {FORM.occ_areas.CHECKED}> {FORM.occ_areas.TEXT}{FORM.occ_areas.After}
			<!-- END occ_areas -->
		</td>
	</tr>
	<!-- BEGIN occ_areas_ErrReq -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.occ_areas_ErrReq.Message}</td>
	</tr>
	<!-- END occ_areas_ErrReq -->
	<tr>
		<td colspan="2" class="checkBoxSplitter">&nbsp;</td>
	</tr>
	
	<tr>
		<td>{FORM.interests}</td>
		<td>
			<!-- BEGIN interests -->
			{FORM.interests.Before}<input type="Checkbox" name="interests[]" value="{FORM.interests.VALUE}" {FORM.interests.CHECKED}> {FORM.interests.TEXT}{FORM.interests.After}
			<!-- END interests -->
		</td>
	</tr>
	<!-- BEGIN interests_ErrReq -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.interests_ErrReq.Message}</td>
	</tr>
	<!-- END interests_ErrReq -->
	<tr>
		<td colspan="2" class="checkBoxSplitter">&nbsp;</td>
	</tr>
	<!-- 
	<tr>
		<th colspan="2">Donate to Milan-IN</th>
	</tr>
	
	<tr>
		<td colspan="2">
		<input type="radio" name="isdonate" value="0" {FORM.nodonate_CHECKED} onclick="ChangeDonate(this)" /> {FORM.I_not_donate} <br />
		<input type="radio" name="isdonate" value="1" {FORM.yesdonate_CHECKED} onclick="ChangeDonate(this)" /> {FORM.I_donate} <br />
		<div style="display:none;padding-left:20px;" id="donateBlock">
			<input type="radio" name="moneydonate" value="10" /> 10 EUR <br />
			<input type="radio" name="moneydonate" value="20" /> 20 EUR <br />
			<input type="radio" name="moneydonate" value="30" /> 30 EUR <br />
			<input type="radio" name="moneydonate" value="50" /> 50 EUR <br />
		</div>
		</td>
	</tr>
	-->
	<tr>
		<td colspan="2" class="checkBoxSplitter">&nbsp;</td>
	</tr>
	
	<tr>
		<th colspan="2">{FORM.termsacceptance}</th>
	</tr>
	<tr>
		<td>{FORM.privacyterms} <br /><a href="privacy.pdf" target="_blank">Read</a></td>
		<td><input type="checkbox" name="terms_privacy" value="1" {FORM.terms_privacy_CHECKED} />{FORM.accept}
	</tr>
	<!-- BEGIN terms_privacy_ErrReq -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.terms_privacy_ErrReq.Message}</td>
	</tr>
	<!-- END terms_privacy_ErrReq -->
	
	
	<tr>
		<td>{FORM.servicesterms} <br /><a href="disclaimer.pdf" target="_blank">Read</a></td>
		<td><input type="checkbox" name="terms_services" value="1" {FORM.terms_services_CHECKED} />{FORM.accept}
	</tr>
	<!-- BEGIN terms_services_ErrReq -->
	<tr>
		<td>&nbsp;</td>
		<td class="required">{FORM.terms_services_ErrReq.Message}</td>
	</tr>
	<!-- END terms_services_ErrReq -->
	<tr>
		<td colspan="2"><input type="submit" class="button" name="btn_submit" value="{FORM.send}"></td>
	</tr>
</table>
</form>
<!-- END FORM -->