<!-- BEGIN FORM -->
<p><font color="red">*</font> - {FORM.requiredfields}</p>
<form name="joinus" method="post" action="">
<table>
	<tr>
		<td>{FORM.Name}<font color="red">*</font> </td>
		<td><input type="text" name="name" value="{FORM.name_VALUE}"></td>
	</tr>
	<tr>
		<td>{FORM.LastName}<font color="red">*</font></td>
		<td><input type="text" name="surname" value="{FORM.surname_VALUE}"></td>
    </tr>
	<tr>
		<td>{FORM.ProfessionalProfile}<font color="red">*</font></td>
		<td>
		<select name="prof_profile" {FORM.prof_profile_DISABLED}>
			<option value=""></option>
			<!-- BEGIN prof_profile -->
			<option value="{FORM.prof_profile.VALUE}" {FORM.prof_profile.CHECKED}>{FORM.prof_profile.TEXT}</option>
			<!-- END prof_profile -->
		</select>
		</td>
    </tr>
	<tr>
		<td><a href="#linkedin_url">{FORM.LinkedinProfile}</a></td>
		<td><input type="text" name="url" value="{FORM.url_VALUE}"></td>
	</tr>
	<tr>
	    <td>{FORM.phonenumber}</td>
	    <td><input type="text" name="phone" value="{FORM.phone_VALUE}"></td>
	</tr>
	<tr>
        <td>{FORM.email}<font color="red">*</font></td>
        <td><input type="text" name="email" value="{FORM.email_VALUE}"></td>
    </tr>
	<tr>
		<td>{FORM.requestingReason}<font color="red">*</font></td>
		<td><textarea name="msg" rows="10">{FORM.msg_VALUE}</textarea></td>
	</tr>
	<tr>
		<td>{FORM.howknow}<font color="red">*</font></td>
		<td>
		<select name="how_did_u" {FORM.how_did_u_DISABLED}>
			<option value=""></option>
			<!-- BEGIN how_did_u -->
			<option value="{FORM.how_did_u.VALUE}" {FORM.how_did_u.CHECKED}>{FORM.how_did_u.TEXT}</option>
			<!-- END how_did_u -->
		</select>
		</td>
	</tr>
	<tr>
		<th colspan="2">{FORM.personaldata}</th>
	</tr>
	<tr>
		<td>{FORM.sex}<font color="red">*</font></td>
		<td>
		<select name="sex" {FORM.sex_DISABLED}>
			<option value=""></option>
			<!-- BEGIN sex -->
			<option value="{FORM.sex.VALUE}" {FORM.sex.CHECKED}>{FORM.sex.TEXT}</option>
			<!-- END sex -->
		</select>
		</td>
 	</tr>
	<tr>
		<td>{FORM.birthdate}</td>
		<td>
			<input size="2" maxlength="2" type="text" name="birth_d" value="{FORM.birth_d_VALUE}" />
			<input size="2" maxlength="2" type="text" name="birth_m" value="{FORM.birth_m_VALUE}" />
			<input size="4" maxlength="4" type="text" name="birth_y" value="{FORM.birth_y_VALUE}" />
		</td>
	</tr>
	<tr>
		<td>{FORM.countryresidence}<font color="red">*</font></td>
		<td>
		<select name="residence_country" {FORM.residence_country_DISABLED}>
			<option value=""></option>
			<!-- BEGIN residence_country -->
			<option value="{FORM.residence_country.VALUE}" {FORM.residence_country.CHECKED}>{FORM.residence_country.TEXT}</option>
			<!-- END residence_country -->
		</select>
		</td>
	</tr>
	<tr>
		<td>{FORM.cityresidence}</td>
		<td><input type="text" name="residence_city" value="{FORM.residence_city_VALUE}"></td>
	</tr>
	<tr>
		<td>{FORM.academicdegree}<font color="red">*</font></td>
		<td>
		<select name="ac_degree" {FORM.ac_degree_DISABLED}>
			<option value=""></option>
			<!-- BEGIN ac_degree -->
			<option value="{FORM.ac_degree.VALUE}" {FORM.ac_degree.CHECKED}>{FORM.ac_degree.TEXT}</option>
			<!-- END ac_degree -->
		</select>
		</td>
	</tr>
	<tr>
		<td>{FORM.favoritesport}<font color="red">*</font></td>
		<td>
		<select name="favorite_sport" {FORM.favorite_sport_DISABLED}>
			<option value=""></option>
			<!-- BEGIN favorite_sport -->
			<option value="{FORM.favorite_sport.VALUE}" {FORM.favorite_sport.CHECKED}>{FORM.favorite_sport.TEXT}</option>
			<!-- END favorite_sport -->
		</select>
		</td>
	</tr>
	<tr>
	<td>{FORM.interests}<font color="red">*</font></td>
		<td>
			<!-- BEGIN interests -->
			<input type="Checkbox" name="interests[]" value="{FORM.interests.VALUE}" {FORM.interests.CHECKED}> {FORM.interests.TEXT}<br>
			<!-- END interests -->
		</td>
	</tr>
	<tr>
		<th colspan="2">{FORM.professionaldata}</th>
	</tr>			
	<tr>
		<td>{FORM.industry}<font color="red">*</font></td>
		<td>
			<!-- BEGIN industries -->
			<input type="Checkbox" name="industries[]" value="{FORM.industries.VALUE}" {FORM.industries.CHECKED}> {FORM.industries.TEXT}<br>
			<!-- END industries -->
		</td>
	</tr>
	<tr>
		<td>{FORM.profession}<font color="red">*</font></td>
		<td>
			<!-- BEGIN professions -->
			<input type="Checkbox" name="professions[]" value="{FORM.professions.VALUE}" {FORM.professions.CHECKED}> {FORM.professions.TEXT}<br>
			<!-- END professions -->
		</td>
	</tr>
	<tr>
		<td>{FORM.occ_area}<font color="red">*</font></td>
		<td>
			<!-- BEGIN occ_areas -->
			<input type="Checkbox" name="occ_areas[]" value="{FORM.occ_areas.VALUE}" {FORM.occ_areas.CHECKED}> {FORM.occ_areas.TEXT}<br>
			<!-- END occ_areas -->
		</td>
	</tr>
	<tr>
		<th colspan="2">{FORM.termsacceptance}</th>
	</tr>
	<tr>
		<td>{FORM.privacyterms}</td>
		<td><input type="checkbox" name="terms_privacy" value="1" {FORM.terms_privacy_CHECKED} />{FORM.accept}
	</tr>                                   
	<tr>
		<td>{FORM.servicesterms}</td>
		<td><input type="checkbox" name="terms_services" value="1" {FORM.terms_services_CHECKED} />{FORM.accept}
	</tr>
	<tr>
		<td colspan="2"><input type="submit" class="button" name="btn_submit" value="{FORM.send}"></td>
	</tr>
</table>
</form>
<!-- END FORM -->