<!-- CSS Stylesheet -->
<!-- created by Causeway CSS Stylesheet Editor RCS 2001 -->
<!-- www.causeway.co.uk/freestuf/cssedit/ -->

BODY {margin-top:"0px"; margin-bottom:"0px"; color:"#000000"; margin-left:"0px"; margin-right:"0px"; }
td,tr,p,div {font-family:"Trebuchet MS, Verdana, Arial, Helvetica, sans-serif"; font-size:"11px"; color:Black; }
h4 {font-family:"Trebuchet MS, Verdana, Arial, Helvetica, sans-serif"; font-size:"16px"; font-weight:bold; color:"#FF9900"; }
h5 {font-family:"Trebuchet MS, Verdana, Arial, Helvetica, sans-serif"; font-size:"14px"; font-weight:bold; color:"#FF9900"; }
h6 {font-family:"Trebuchet MS, Verdana, Arial, Helvetica, sans-serif"; font-size:"12px"; font-weight:bold; color:"#FF9900"; }
a:link, a:visited {font-family:"Trebuchet MS, Verdana, Arial, Helvetica, sans-serif"; font-size:"11px"; font-weight:bold; color:Black; text-decoration:"none";
}
a:hover {font-weight:bold; color:Aqua; text-decoration:"none";
}
hr {background:"#C0C0C0";
height:"2px";
border:"1PX inset"; }
a.mainmenu:link, a.mainmenu:visited {font-family:"Trebuchet MS, Verdana, Geneva, Arial, Helvetica, serif"; font-weight:bold; color:Black; font-weight:"normal";
}
a.mainmenu:hover {font-weight:bold; color:Aqua; }
.contentpane {}
.contentpaneopen {border:"0PX ridge"; }
.contentheading {font-family:"Tahoma, Verdana, Arial, Helvetica, sans-serif"; font-size:"13px"; font-weight:bold; text-align:"Left"; color:"#FF8000"; }
.contentdescription {font-family:"Trebuchet MS, Verdana, Arial, Helvetica, sans-serif"; font-size:"11px"; text-align:"Left"; color:Black; }
a.blogsection:link, a.blogsection:visited {font-family:"Trebuchet MS, Verdana, Arial, Helvetica, sans-serif"; font-weight:bold; color:Black; text-decoration:"none";
font-weight:"normal";
}
a.blogsection:hover {font-weight:bold; text-decoration:underline; color:Aqua; }
a.weblinks:link, a.weblinks:visited {font-family:"Trebuchet MS, Verdana, Arial, Helvetica, sans-serif"; font-weight:bold; color:Black; text-decoration:"none";
font-weight:"normal";
}
a.weblinks:hover {font-weight:bold; text-decoration:underline; color:Aqua; }
a.readon:link, a.readon:visited {font-family:"Tahoma, Verdana, Arial, Helvetica, sans-serif"; font-size:"10px"; color:Navy; text-decoration:"none";
font-weight:"normal";
}
a.readon:hover {text-decoration:underline; color:Aqua; }
.moduleheading {font-size:"11px"; font-weight:bold; text-align:"Left"; color:"#FFFFFF"; background-color:"#0080FF"; font:"Trebuchet MS, Verdana, Arial, Helvetica, sans-serif";
height:"18px";
white-space:"nowrap";
width:"100%";
}
.componentheading {font-family:"Tahoma, Verdana, Arial, Helvetica, sans-serif"; font-size:"13px"; font-weight:bold; text-align:"Left"; color:"#FF8000"; }
.button {font-family:"Trebuchet MS, Verdana, Arial, Helvetica, sans-serif"; font-size:"10px"; font-weight:bold; color:White; background-color:"#0080FF"; font-style:"normal";
border:"default 1px Solid"; }
.inputbox {font-family:"Trebuchet MS, Verdana, Arial, Helvetica, sans-serif"; font-size:"12px"; font-weight:bold; color:"#666666"; background:"#FFFFFF";
border:"1PX solid"; }
.category {font-family:"Trebuchet MS, Verdana, Arial, Helvetica, sans-serif"; font-size:"11px"; font-weight:bold; color:"#999999"; text-decoration:"none";
}
a.category:link, a.category:visited {font-weight:bold; color:Black; }
a.category:hover {font-weight:bold; color:Aqua; }
.poll {font-family:"Trebuchet MS, Verdana, Arial, Helvetica, sans-serif"; font-size:"10px"; color:Black; }
.sectiontableentry1, .contentpane {}
.sectiontableentry2 {}
.sectiontableheader {font-weight:bold; color:"#FFFFFF"; background-color:"#0080FF"; }
.small {font-family:"Verdana, Arial, Helvetica, sans-serif"; font-size:"10px"; color:"#FF6600"; text-decoration:"none";
font-weight:"normal";
}
.createdate {font-family:"Verdana, Arial, Helvetica, sans-serif"; font-size:"10px"; color:"#FF6600"; text-decoration:"none";
font-weight:"normal";
}
.modifydate {font-family:"Verdana, Arial, Helvetica, sans-serif"; font-size:"10px"; color:"#808080"; text-decoration:"none";
font-weight:"normal";
}
ul {margin-top:"0px"; margin-bottom:"0px"; margin-left:"0px"; margin-right:"0px"; }
li {list-style:"inside url(../images/arrow.png) 3px";
list-style-image:"url(../images/arrow.png)";
}
.fase4rdf {font-family:"Trebuchet MS, Verdana, Arial, Helvetica, sans-serif"; font-size:"11px"; color:"#000000"; font-weight:"normal";
}
a.fase4rdf:link {font-size:"11px"; color:White; background-color:"#0080FF"; font-weight:"normal";
}
a.fase4rdf:hover {font-weight:bold; color:Aqua; }
table.searchintro {background-color:"#A0BAF5"; border:"SOLID 1px"; }
table.contact {background-color:"#FFFFFF"; }
table.contact td.icons {background-color:"#C6CBCE"; }
table.contact td.details {font-family:"Verdana, Arial, Helvetica, sans-serif"; font-size:"10px"; font-weight:bold; background-color:"#EEEEEE"; }
